/*Reset*/
*,*::before,*::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*Colours*/
:root{
  --darkpink: #FD11AD;
  --mediumpink: #F9B5D8;
  --lightpink: #FEE0F8;
}

/*Font*/
@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("fonts/converted/ms_sans_serif.woff") format("woff");
  src: url("fonts/converted/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("fonts/converted/ms_sans_serif_bold.woff") format("woff");
  src: url("fonts/converted/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: Arial;
  font-size: 12px;
  color: #222222;
}

/*General Settings*/
body{
	background-image: url("images/BG.jpg");
	background-repeat: repeat;
  font-family: "Pixelated MS Sans Serif";
  font-size: 1.0rem;
  line-height: 1.6rem;
  letter-spacing: 2;
}

h1{
  font-family: "Bebas Neue";
  font-size: 8rem;
  letter-spacing: .9rem;
  color: var(--darkpink);
  text-shadow: 10px 10px var(--mediumpink);
  line-height: 8rem;
}

h2{
  font-family: "Bebas Neue";
  font-size: 3rem;
  letter-spacing: .3rem;
  line-height: 3rem;
  color: var(--darkpink);
}

h3{
  font-size: 1.0rem;
  font-weight: 200;
  color: var(--lightpink);
}

/*Grid Setup*/
.grid10{
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  margin-left: 20px;
  margin-right: 20px;
  grid-gap: 20px;
  width: 100%;
  min-width: 900px;
  max-width: 1400px;
}


/*Title*/
#titleblock{
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.title{
  grid-column: 3 / span 3;
}

.icon{
  grid-column: 7 / span 2;
}

/*Popups*/
#pinkpopup{
  width: 100%;
  height: 100%;
  grid-column: 3 / span 6;
  display: inline-grid;
  background: var(--lightpink);
  box-shadow: 10px 10px var(--mediumpink);
  align-items: center;
}

#popupheader-pink{
  background-color: var(--darkpink);
  width: 100%;
  height: 2.6rem;
  grid-column: 1 / span 6;
  line-height: 2.6rem;
  padding-left: .6rem;
}

#image-pink{
  grid-column: 1 / span 3;
  padding-left: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

#popuptext-pink{
  grid-column: 4 / span 3;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
